.header {
	background-image: url(nfl.png);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% auto;
	height: 940px;
	text-align: center;
}

.header h1 {
	color: white;
	font-family: "Bebas Neue";
	font-size: 15em;
	text-shadow: black 6px 6px 4px;
	padding-top: 30px;
}

.header h2 {
	color: green;
	font-family: "Bebas Neue";
	font-size: 6em;
	text-shadow: black 5px 5px 7px;
	margin-top: -60px;
	margin-right: 270px;
	text-align: right;
}

.header h3 {
	background-color: white;
	height: 450px;
}

.underscore {
	background-color: white;
	height: 100px;
	text-align: center;
	font-size: 30px;
	padding-top: 30px;
}

.rightGuess {
	background-color: white;
	height: 80px;
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
}

.wrongGuess {
	background-color: white;
	height: 80px;
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
}
