body {
	
	font-family: 'Helvetica Neue', sans-serif;
	background-image: url(../images/concrete-texture.png);
}

.navbar  {
	width: 960px;
	height: auto;
	margin-left: auto;
	margin-right: auto;

}

.navbar-brand  {
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #4aaaa5;
}

.container-fluid {
	float: right;
	margin: auto;
}

.Content-Area {
	width: 960px;
	height: 780px;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-flex;
    display: flex;
    flex-direction: row;
    background-image: url(../images/concrete-texture.png);
    margin-top: -21px;
    border-top: 2px solid #cccccc;
}

.Box-Left {
	width: 650px;
	background-color: #ffffff;
	height: 780px;
	color: #4aaaa5;
	margin-top: 30px;
	padding-right: 20px;
	position: relative;
	border: 1px solid #cccccc;
}

.Box-Left h2 {
	
	padding: 15px 0px 20px 20px;
	border-bottom: 3px solid #cccccc;
	margin-left: 45px; 
	margin-right: 45px;
	text-align: left;

}

.centered {
    position: absolute;
	color: white;
	background-color: #4aaaa5;
	top: 80%;
    left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 60px; 
	font-size: 17px;
	padding-top: 15px;
}

.box1 {
	position: relative;
    text-align: center;
    color: white;
    width: 220px;
	height: 190px;
	margin-top: 25px;
	float: left;
	margin-left: 45px;
}

.box1 img {
	width: 220px;
	height: 190px;
	position: relative;
    color: white;
	
}

.box2 {
	float: right;
	position: relative;
    text-align: center;
    color: white;
     width: 220px;
	height: 190px;
	margin-top: 25px;
	margin-right: 45px;

}

.box2 img {
	 width: 220px;
	height: 190px;
	position: relative;
    color: white;
	float: right;
}

.box3 {
	position: relative;
    text-align: center;
    color: white;
     width: 220px;
	height: 190px;
	margin-top: 25px;
	float: left;
	margin-left: 45px;

}

.box3 img {
	 width: 220px;
	height: 190px;
	position: relative;
    color: white;
	
}

.box4 {
	float: right;
	position: relative;
    text-align: center;
    color: white;
    width: 220px;
	height: 190px;
	margin-top: 25px;
	margin-right: 45px;

}

.box4 img {
	 width: 220px;
	height: 190px;
	position: relative;
    color: white;
	
}

.box5 {
	float: left;
	position: relative;
    text-align: center;
    color: white;
     width: 220px;
	height: 190px;
	margin-top: 25px;
	margin-left: 45px;

}

.box5 img {
	 width: 220px;
	height: 190px;x;
	position: relative;
    color: white;
	
}

.Box-Left {
	
	margin-right: 0px;
	text-align: center;
}




.Box-Right {
	
	width: 300px;
	height: 190px;
	background-color: #ffffff;
	margin-left: 30px;
	margin-top: 30px;
	text-align: center;
	color: #4aaaa5;
	position: relative;
	border: 1px solid grey;
}

.Box-Right h3 {
	text-align: center;
	border-bottom: 3px solid #cccccc;
	margin-left: 10px; 
	margin-right: 10px;
	padding: 5px 10px 20px 10px; 
}

.Box-Right img {
	width: 70px;
	height: 70px;
	margin-top: 10px;
	padding: 5px;
}

footer {
	background-color: grey;
	text-align: center;
	color: lightgrey;
	width: auto;
	margin: auto;
	height: 100px;
	border-top: 8px solid #4aaaa5;
	padding-top: 50px;
	margin-top: 32px;
}
