body {
	background-image: url('https://slm-assets3.secondlife.com/assets/6800602/lightbox/FULL_PERM_-_Landscape_christmas_snowy_fairytale.jpg?1355572366');
	background-size: auto;
}

.container {
	text-align: center;
	color: white;
	background-color: black;
	opacity: 0.98;
	margin-top: 50px;
}

.container h1 {
	font-size: 4em;
	font-weight: bolder;
}

.start {
	margin-top: 120px;
}

#question1 {
	padding: 10px;
	color: white;
	
}

.btnContainer button {
	background-color: white;
	color: black;
	font-weight: bolder;
	width: 100%;
	height: 50px;
}